.Content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.Content__col {
  height: 100%;
}

.Content__col--left {
  width: 30%;
}

.Content__col--right {
  flex-grow: 1;
  padding-left: 20px;
}