.ProgressBar {
  background-color: gainsboro;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  height: 100%;
}

.ProgressBar__bar {
  background-color: cadetblue;
  width: 40%; /* Adjust with JavaScript */
  height: 100%;
  border-radius: 10px;
}